<div>
    <h1>About Good Idea</h1>
    <h2>Good Idea is a E-Crowdfunding System.
        <br>Authors can publish theirs ideas and gather money for theirs implementation.
        <br>Contributors can donate money to project they're interested in.
    <h2>
</div>