<div class="center jumbotron"> 
    <% @post.each do |post| %>
    <div class = "post">
        <p class= "post-title">
            <%= post.title %>
        <p>
        
        <div class= "post-content">
            <%=raw post.content %>
                    <% if post.user_id == current_user.id%>
                <%= link_to 'Edit', edit_project_path(post) %>
        <% end %>
        </div>



        </tr>
    </div>
    <% end %>
</div>