<% if !@post.empty? %>
    <h1>All projects</h1>

    <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Progress</th>
                </tr>
            </thead>    
            <tbody>
                <% @post.each do |post| %>
                    <%= render 'project', :post => post%>
                <% end %>
            </tbody>
    </table>
<% else %>
    <h1>There no projects yet</h1>
<% end %>