// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 1em #cccccc;
    margin-bottom: 10px;
}

p.post-title{
    font-weight: bold;
    color: white;
    padding: 5px;
    background: #222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.post-content{
    color: #000000;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

// Index list.
table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #000000; 
	color: white; 
  font-weight: bold; 
  }
  
th.left-header {
  border-top-left-radius: 10px;
  padding: 5px;
}

th.right-header {
  border-top-right-radius: 10px;
  padding: 5px;
}

td, th { 
	padding: 10px; 
	border: 1px solid #ffffff; 
	text-align: left; 
  font-size: 18px;
  }


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
  
	/* Hide table headers (but not display: none;, for accessibility) */

	
  tr { border: 1px solid #ccc; }
  
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}