<footer class="footer">
  <small>
    The <a href="#">E-Crowdfunding System</a>
    by <a href="#">Fedorovich Oleg</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contacts' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>